body {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.menu {
  width: 200px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.menu a {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.menu a:hover {
  background-color: #21a1f1;
}

.game-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}