.home-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.home-title {
  color: #333;
}

.home-container p {
  color: #555;
}

.home-container h4 {
  margin-top: 20px;
  color: #444;
}

.home-container ul {
  list-style: none;
  padding: 0;
}

.home-container li {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.home-container li:hover {
  background-color: #f0f0f0;
}

.home-container li span {
  font-size: 18px;
}